application = "hub"
environment = "DEV"

regions = {
  uksouth = {
    address_space = "10.150.0.0/16"
    subnets = {
      hub = {
        cidr_newbits        = 8
        cidr_offset         = 0
      }
      vpn = {
        cidr_newbits        = 8
        cidr_offset         = 1
      }
    }
  }
  ukwest = {
    address_space = "10.151.0.0/16"
    subnets = {
      hub = {
        cidr_newbits        = 8
        cidr_offset         = 0
      }
      vpn = {
        cidr_newbits        = 8
        cidr_offset         = 1
      }
    }
  }
}


tags = {
  Project = "DToS Hub"
}
