application = "hub"
environment = "DEV"

regions = {
  uksouth = {
    address_space = "10.150.0.0/16"
    subnets = {
      hub = {
        cidr_newbits        = 8
        cidr_offset         = 0
      }
      vpn = {
        cidr_newbits        = 8
        cidr_offset         = 1
      }
    }
  }
  ukwest = {
    address_space = "10.151.0.0/16"
    subnets = {
      hub = {
        cidr_newbits        = 8
        cidr_offset         = 0
      }
      vpn = {
        cidr_newbits        = 8
        cidr_offset         = 1
      }
    }
  }
}

network_security_group_rules = {
  hub = [
    {
      name = "AllowSSH"
      priority = 100
      direction = "Inbound"
      access = "Allow"
      protocol = "Tcp"
      source_port_range = "*"
      destination_port_range = "22"
      source_address_prefix = "10.10.10.10"
      destination_address_prefix = "10.10.10.10"
    },
    {
      name = "AllowAllOutbound"
      priority = 100
      direction = "Outbound"
      access = "Allow"
      protocol = "*"
      source_port_range = "*"
      destination_port_range = "*"
      source_address_prefix = "10.10.10.10"
      destination_address_prefix = "10.10.10.10"
    }
  ],
  vpn = [
    {
      name = "AllowSSH"
      priority = 100
      direction = "Inbound"
      access = "Allow"
      protocol = "Tcp"
      source_port_range = "*"
      destination_port_range = "22"
      source_address_prefix = "10.10.10.10"
      destination_address_prefix = "10.10.10.10"
    }
  ]
}

tags = {
  Project = "DToS Hub"
}
