environment = "PROD"
regions = ["uksouth"]

agent_profile_resource_predictions_manual = {
  "time_zone" : "GMT Standard Time",
  "days_data" : [
    {
      "08:00:00" : 2,
      "19:00:00" : 0
    },
    {
      "08:00:00" : 2,
      "19:00:00" : 0
    },
    {
      "08:00:00" : 2,
      "19:00:00" : 0
    },
    {
      "08:00:00" : 2,
      "23:59:00" : 0
    },
    {
      "08:00:00" : 2,
      "23:59:00" : 0
    },
    {
      "08:00:00" : 2,
      "23:59:00" : 0
    },
    {
      "08:00:00" : 2,
      "23:59:00" : 0
    }
  ]
}
